<div class="navbar">
  <div class="navbar-left">
    <span class="product-name">VitaMeet</span>
  </div>
  <div class="navbar-right">
    <a routerLink="/patient-history" class="navbar-link">Historial del paciente</a>
    <a routerLink="/dates-management" class="navbar-link">Gestión de citas</a>
    <button routerLink="/login" class="logout-button">Cerrar sesión</button>
  </div>
</div>

<div class="appointments-container">
  <h2>Gestión de Citas Médicas</h2>
  <ul>
    <li *ngFor="let appointment of appointments">
      <p><strong>Médico:</strong> {{ appointment.doctor }}</p>
      <p><strong>Fecha:</strong> {{ appointment.date }}</p>
      <p><strong>Hora:</strong> {{ appointment.time }}</p>
      <button (click)="rescheduleAppointment(appointment.id)">Reprogramar</button>
      <button (click)="cancelAppointment(appointment.id)">Cancelar</button>
    </li>
  </ul>
</div>

<footer>
  © 2025 MetaDevs. All rights reserved.
</footer>
