<div class="navbar">
  <div class="navbar-left">
    <span class="product-name">VitaMeet</span>
  </div>
  <div class="navbar-right">
    <a routerLink="/patient-history" class="navbar-link">Historial del paciente</a>
    <a routerLink="/dates-management" class="navbar-link">Gestión de citas</a>
    <button routerLink="/login" class="logout-button">Cerrar sesión</button>
  </div>
</div>
<div class="patient-history-container">
  <h2>Historial Médico</h2>
  <ul>
    <li *ngFor="let patient of patients">
      <div class="patient-card">
        <div class="patient-photo" *ngIf="patient.photo">
          <img [src]="patient.photo" alt="Foto de paciente" />
        </div>
        <div class="patient-info">
          <p><strong>Nombre:</strong> {{ patient.fullname }}</p>
          <p><strong>Edad:</strong> {{ patient.age }}</p>
          <p><strong>Teléfono:</strong> {{ patient.phone }}</p>
          <p><strong>Dirección:</strong> {{ patient.address }}</p>
          <p><strong>Diagnóstico:</strong> {{ patient.diagnosis }}</p>
          <p><strong>Tratamiento:</strong> {{ patient.treatment }}</p>
          <p><strong>Fecha:</strong> {{ patient.date }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<footer>
  © 2025 MetaDevs. All rights reserved.
</footer>
