<div class="patient-history-container">
  <h2>Historial Médico</h2>
  <ul>
    <li *ngFor="let record of medicalHistory">
      <p><strong>Nombre:</strong> {{ record.name }}</p>
      <p><strong>Edad:</strong> {{ record.age }}</p>
      <p><strong>Teléfono:</strong> {{ record.phone }}</p>
      <p><strong>Dirección:</strong> {{ record.address }}</p>
      <p><strong>Diagnóstico:</strong> {{ record.diagnosis }}</p>
      <p><strong>Tratamiento:</strong> {{ record.treatment }}</p>
      <p><strong>Fecha:</strong> {{ record.date }}</p>
    </li>
  </ul>
</div>
